<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POPOver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84EEE41B1E49BE3400CDEC5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EEE42E1E49BE3600CDEC5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EEE4391E49BE3600CDEC5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
